body{
background-image: url("../img/01-whitepaper.png");

}

/* すまほ */
@media screen and (max-width:767px) {

  .center-block{
  width: 60%;
  position:relative;
  top: 120px;
  }

  #mi-ru{
    font-size:45px;
    font-family:Nico Moji;
    color:#ff8181;

    text-align: center;
    position:relative;
    bottom: 50px;
  }

  .top-menu{
    font-family:Nico Moji;
    color:#ff8181;
    font-size:25px;
  }

.wrapper{
  top:10px;
}

  .s_btn{
    font-family:Nico Moji;
    color:#ff8181;
    font-size:25px;
  }
  .r_btn{
    font-family:Nico Moji;
    color:#ff8181;
    font-size:25px;
  }
  .footer{
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
  }

/* PC */
}@media screen and (min-width:768px){
  .center-block{
  width: 60%;
  position:relative;
  top: 60px;
  }

  #mi-ru{
    font-size:100px;
    font-family:Nico Moji;
    color:#ff8181;

    text-align: center;
  }

  .top-menu{
    font-family:Nico Moji;
    color:#ff8181;
    font-size:30px;
  }

  .footer{
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
  }

  .s_btn{
    font-family:Nico Moji;
    color:#fff;
    font-size:22px;
  }
  .r_btn{
    font-family:Nico Moji;
    color:#fff;
    font-size:22px;
  }
}
