html{
height: 100%;
}

body{
  height: 100%;

/*  background-image:url("../img/aaaa.jpg");
/* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

}
a:link { color:rgb(0, 0, 0); text-decoration:none }
a:visited { color:#0000ff; text-decoration:none }
a:hover { color:rgb(0, 0, 0); text-decoration:none }
a:active { color:#0000ff; text-decoration:none }
.gourmet_list{
  height: auto;
  width: 90%;
  margin: 2%;
}

.img-rounded{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hot_contents{
  margin: 10px;
  border: 1px solid #000000;
}
