html{
height: 100%;
}

body{
  height: 100%;
  background-image: url("img/01-whitepaper.png");


/* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}

.container{
  position: relative;
    height: 75%;
}

.row{
    height: 60%;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.wrapper{
   text-align:center;
   text-decoration: none;
}


.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
    text-decoration: none;
}

@media screen and (max-width:767px) {

  .login{
    color:#ff8181;
    font-size:50px;
    font-family:Nico Moji;
    position:relative;
    bottom: 100px;
  }

  .square_btn{
      margin-bottom: 10px;
      display: inline-block;
      padding: 1em 3em;
      text-decoration: none !important;
      background: #f7f7f7;
      border-left: solid 6px #ff7c5c;/*左線*/
      color: #ff7c5c;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  .square_btn2{
      margin-bottom: 10px;
      display: inline-block;
      padding: 1em 3em;
      text-decoration: none !important;
      background: #f7f7f7;
      border-left: solid 6px #5bcbff;/*左線*/
      color: #5bcbff;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  .square_btn3{
      margin-bottom: 10px;
      display: inline-block;
      padding: 1em 2.49em;
      text-decoration: none !important;
      background: #f7f7f7;
      border-left: solid 6px #0037ff;/*左線*/
      color: #0037ff;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }

}@media screen and (min-width:768px){

  .login{
    color:#ff8181;
    font-size:100px;
    font-family:Nico Moji;
    position:relative;
    bottom: 100px;
  }

  .square_btn{
      margin-bottom: 10px;
      display: inline-block;
      padding: 1em 3em;
      text-decoration: none !important;
      background: #f7f7f7;
      border-left: solid 6px #ff7c5c;/*左線*/
      color: #ff7c5c;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  .square_btn2{
      margin-bottom: 10px;
      display: inline-block;
      padding: 1em 3em;
      text-decoration: none !important;
      background: #f7f7f7;
      border-left: solid 6px #5bcbff;/*左線*/
      color: #5bcbff;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  .square_btn3{
      margin-bottom: 10px;
      display: inline-block;
      padding: 1em 2.49em;
      text-decoration: none !important;
      background: #f7f7f7;
      border-left: solid 6px #0037ff;/*左線*/
      color: #0037ff;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
}
