body{
  height: 100%;

/* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

}

.container{
  position: relative;
    height: 75%;
}

.row{
    height: 60%;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

@media screen and (max-width:767px) {
    /*　スマホ　*/

    .wrapper{
      text-align: center;
      padding: 150px;
    }

  .btn{
     position: relative;
     display: inline-block;
     font-weight: bold;
     padding: 0.25em 0;
     text-decoration: none;
     color: #ff8181;
  }

  .btn:before{
     position: absolute;
     content: '';
     width: 100%;
     height: 4px;
     top:100%;
     left: 0;
     border-radius: 3px;
     background:#ff8181;
     transition: .2s;
  }

  .btn:hover:before {
      top: -webkit-calc(100% - 3px);
      top: calc(100% - 3px);
  }

}
@media screen and (min-width:768px){
    /*　PC　*/

    .wrapper{
      text-align: center;
      padding: 200px;
    }

    /* メニューボタンデザイン */
    .btn{
        display: inline-block;
        text-decoration: none;
        background: #ff8181;
        opacity: 0.7;
        color: #FFF;
        width: 150px;
        height: 150px;
        line-height: 140px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        overflow: hidden;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #bd6565;
        transition: .4s;
    }

    /* マウスを乗せるとボタンの色が濃くなるよってやつ */
    .btn:hover{
      opacity: 1;
    }

    .btn:active{
        -ms-transform: translateY(2px);
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
    }
}
